body{
    background-color: #8BACAA;
    font-family: 'Caveat', cursive;
   
}
.dice{
    display: flex;
    justify-content: center;
    font-size: 4rem;
   margin-left: 40px;
}
.dice img{
    margin: 16px;
}
h1{
    font-family: 'Caveat', cursive;
    font-size: 10rem;
    text-align: center;
    transition: background-color 0.3s ease;
 }
 h1:hover{
    color: #F99B7D;
    
 }
